

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    transform: translateZ(0);
    z-index: 900;
    background-color: #fff;
    border-bottom: 1px solid rgba(135, 153, 160, 0.25);
  }
  
  .navbar-header__container {
    
    display: flex;
    height: 65px;
    padding: 0 29px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 16px 24px -18px rgba(119, 118, 118, 0.5);
  
  }
  
  /* el menu entero que se despliega cuando haces click en el menu hamburguesa */
  
  .nav-menu {
    box-shadow: 6px 0 15px rgb(0 0 0 / 20%);
  
    left: -240px;
    transform: translatex(0);
    width: 220px;
    transition: 0.25s ease-out;
    padding-top: 89px;
    width: 194px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 820;
    overflow-y: auto;
    background-color: #f2f6f7;
    transition: 0.25s ease-out;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  /* cada icono del menu que se despliega */
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 30px;
    list-style: none;
    height: 60px;
  }
  
  
  
  a {
    color: #0093d3;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  
  .nav-text:hover {
    background-color: orange;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  
  span {
    margin-left: 16px;
  }
  
  /* parte de atras cuando se despliega en menu wue se torna opaca*/
  .left-col-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 800;
    background-color: rgba(43, 53, 59, 0.4);
    visibility: hidden;
  }
  
  .left-col-backdrop.active {
    visibility: visible;
  }
  
  /* estilo de GNB */
  .gb-header__brand {
    position: relative;
  
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  
  
  
  .nav-right .icons-cart {
    position: relative;
    min-width: 28px;
    max-height: 28px;
    margin-left: 3px;
    
  }
  
  .nav-cart {
    position: relative;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  /* div del lado derecho del header, contiene el icon user y cart */
  .nav-right {
    position: relative;
    font-size: 21px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  
  
  /* clase que se le aplica al numero que estan dentro del carrito de compras */
  /* span con un sosition absolute que esta dentro de un div con position relative */
  
  .nav-cart-count {
    position: absolute;
    top: -6px;
    left: 49.5%;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    color: orangered;
    font-weight: bold;
  }
  
  .nav-left {
    position: relative;
    font-size: 21px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  nav {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
  }
  
  /*  ICONS   */
  
  .iconLogoMenu {
    position: relative;
    min-width: 180px;
 
    margin-left: 10px;
  }
  
  .icons {
    position: relative;
    min-width: 20px;
    max-height: 20px;
  }
  
  /* CAMBIA PROPIEDADES DEL DIV DONDE ESTA  EL ICONO DE HAMBURGUESA */
  
  @media screen and (max-width: 550px) {
    /* LE QUITA PADDING AL MENU HAMBURGUESA EN TAMAÑO CELLPHONE */
    .navbar-header__container {
      padding: 0 18px;
    }
  }
  
  @media screen and (max-width: 991px) {
    .nav-menu {
      /* el menu que se despliega se agranda un poco mas */
      box-shadow: 6px 0 15px rgb(0 0 0 / 20%);
      left: -240px;
      transform: translatex(0);
      width: 250px;
      transition: 0.25s ease-out;
    }
  }
  