@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url("https://use.typekit.net/dlp6hel.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
 
  padding: 0;
  line-height: 1.6;
  font-family: Lato,sans-serif,sans-serif;
  font-size: 13px;
  cursor: default;

  min-height: 100%;
  
  
  background-color: #1a1b26;
  -webkit-font-smoothing: antialiased;
  

}

button {
  height: 44px;
  width: 90%;
  color: #1a1b26;
  border-radius: 5px ;
  border: none;
  cursor: pointer;
  
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {opacity: 1}

svg {
  opacity: 0.8;
  transition: 0.2s;
}

svg:hover {opacity: 1}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  -moz-font-smoothing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
