

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
    z-index: 902;
   
  }
  
  .navbar-header__container {
   
    display: flex;
    height: 65px;
    width: 90%;
    
    justify-content: space-between;
    align-items: center;
  
  
  }
  
  /* el menu entero que se despliega cuando haces click en el menu hamburguesa */
  
  .nav-menu {
    position: relative;
    box-shadow: 6px 0 15px rgb(0 0 0 / 20%);
  
    left: -100%;
    transform: translatex(0);
    width: 220px;
    transition: 0.25s ease-out;
  
    width: 100%;
    height: 100%;
   
    top: 0;
    bottom: 0;
  
    overflow-y: auto;
    background-color: #1a1b26;
    transition: 0.25s ease-out;
    color: aliceblue;
    z-index: 903;
  }
  
  .nav-menu.active {
    
    left: 0;
    transition: 500ms;
    
  }
  
  /* cada icono del menu que se despliega */
  .nav-text {
    display: flex;
    justify-content: space-around;
    
    height: 60px;
  }

  
  .nav-menu-items {
    
    align-self: center;
    width: 100%;
  }
  
  a.activated {
    color: #0093d3;
    
  }

  a {
    color: #fff;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }
  
 
  
  .nav-menu-items {
    width: 100%;
  }
  
  
  span {
    margin-left: 16px;
    font-size: 1.4em;
  }
  
  /* parte de atras cuando se despliega en menu wue se torna opaca*/
  .left-col-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 800;
    background-color: rgba(43, 53, 59, 0.4);
    visibility: hidden;
  }
  
  .left-col-backdrop.active {
    visibility: visible;
  }
  
 
  
  
  
  /* div del lado derecho del header, contiene el icon user y cart */
  .nav-right {
    position: relative;
    font-size: 21px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  

  .nav-left {
    position: relative;
    font-size: 21px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  nav {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
  }
  
  /*  ICONS   */
  
  .iconLogoMenu {
    position: relative;
    min-width: 150px;
 
  
  }


  
  .icons {
    position: relative;
    min-width: 40px;
    max-height: 40px;
    
  }
  
 


/* ESCRITORIO EXTRAGRANDE */
  
@media only screen and (min-width: 1200px) {

  .navbar-header__container {
    
    display: flex;
    height: 65px;
    width: 95%;
    
    justify-content: space-between;
    align-items: center;
  
  
  }

  .icons {
    
    right: 1em;
    position: relative;
    min-width: 60px;
    max-height: 60px;
    
  }

}

/* ESCRITORIO GRANDE  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  
 
  .icons {
    
    right: 1em;
    position: relative;
    min-width: 60px;
    max-height: 60px;
    
  }


}

/****************************** Escritorio pequeño / tablet ******************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icons {
    
    right: 0.9em;
    position: relative;
    min-width: 60px;
    max-height: 60px;
    
  }

}

/****************************** Tablets y phablets ******************************/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .icons {
    
    right: .9em;
    position: relative;
    min-width: 70px;
    max-height: 70px;
    
  }
}


@media screen and (max-width: 575px) {
  
  .icons {
    
    right: .9em;
    position: relative;
    min-width: 70px;
    max-height: 70px;
    
  }


}